.body {
    min-width: 1000px;
    max-width: 1500px;
    background: linear-gradient(120.21deg, #3E708E 11.18%, #64969B 74.17%);
    margin: 0%;
    /*background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);*/
}
.section {
    margin: 100px 70px;
    display: flex;
    flex-direction: row;
    
    
}
.form {
    background-color: #ffff;
    width: 40%;
    padding-left: 12rem;
    
}
 
.start {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 40px;
}
.ladel {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}
.input {
    width: 20rem;
    height: 2rem;
    color: black;    
    border-radius: 5px;
    margin-bottom: .5rem;
    opacity: .7;
}
.input-tel {
    text-align: center;
}
    
.pass {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #CCCCCC;
}
.button {
    background-color: #284A5E;
    width: 20.5rem;
    border-radius: 5px;
    height: 2.5rem;
    color: #ffff;
}
.opt {
    font-size: 10px;
    color: #C4C4C4;
}

.already {
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #C4C4C4;
    margin-left: 5rem;
    margin-bottom: 3rem;
}
.login {
    border-bottom: 1px solid #476D73;
    color: #476D73;
}
.item2 {
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    margin: 0;
    width: 40%;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 8rem;
    margin-top: 1rem;
    
}
.list-menu {
    padding-left: 1.5rem;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ffff;
}
.creativity {
    color: #ffff;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    padding-top: 12rem; 
    padding-left: 5rem;
    padding-right: 4rem;
    text-shadow: 4px 4px 5px grey;

    
}
.albert {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ffff;
    padding-left: 5rem;
    
}